[req]
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no
default_bits = 2048
default_md = sha256
default_keyfile = key.pem

[req_distinguished_name]
countryName = XX
stateOrProvinceName = MyState
localityName = MyCity
organizationName = MyOrganization
commonName = 192.168.68.165

[v3_req]
subjectAltName = @alt_names

[alt_names]
IP.1 = 192.168.68.165
